<div class="row">
    <div class = "col-md-3">
        {{ form_start(FilterForm) }}
            <div class="d-grid gap-2 col-12 mx-auto">
                {{ form_row(FilterForm.searchBar) }}
                {{ form_row(FilterForm.enPoste) }}
                {{ form_row(FilterForm.qualif) }}
                {{ form_row(FilterForm.team) }}
                <input type="submit" class="btn btn-orange d-grid gap-2 col-12 mx-auto" value="Filtrer">
            </div>
        {{ form_end(FilterForm) }}
        {# Ré-initialiser #}
        <div class="btn btn-bleu d-grid gap-2 col-12 mx-auto"><a href="{{ path('app_users') }}">Les derniers arrivants</a></div>
    </div>

    <div class= "col-md-9">
        <table class="table">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Niveau</th>
                    <th>Qualification</th>
                    <th>Chez Insercall depuis le</th>
                    <th>Jusqu'à</th>
                </tr>
            </thead>
            {% for user in users %}
            <tbody>
                <td><a href="{{ path('app_users_fiche', {'id': user.id}) }}" title="Accès à sa fiche">{{ user.nom }}</a></td>
                <td>{{ user.prenom }}</td>
                <td>{{ user.teamName.name }}</td>
                <td>{{ user.qualification.nomQualification }}</td>
                <td>{{ user.dateEntree|date('d-m-Y') }}</td>
                <td>{{ user.dateSortie|ago(locale='fr') }}</td>
            </tbody>
            {% endfor %}
        </table>
    </div>
</div>
