{{ form_start(SelectForm) }}
    <div class="d-grid gap-2 col-12 mx-auto">
        <div class="row">
            <div class="col-md-3">
                {{ form_row(SelectForm.qualification) }}
            </div>
            <div class="col-md-3">
                {{ form_row(SelectForm.prenom) }}
            </div>
        </div>
        <input type="submit" class="btn btn-orange" formnovalidate value="Filtrer">
    </div>
{{ form_end(SelectForm) }}

<table class="table">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Niveau</th>
            <th>Qualification</th>
            <th>Chez Insercall depuis le</th>
            <th>Jusqu'à</th>
        </tr>
    </thead>
    {% for user in users %}
    <tbody>
        <td><a href="{{ path('app_users_fiche', {'id': user.id}) }}">{{ user.nom }}</a></td>
        <td>{{ user.prenom }}</td>
        <td>{{ user.teamName.name }}</td>
        <td>{{ user.qualification.nomQualification }}</td>
        <td>{{ user.dateEntree|date('d-m-Y') }}</td>
        {# <td>{{ user.dateEntree|ago(locale='fr') }}</td> #}
        <td>{{ user.dateSortie|ago(locale='fr') }}</td>
    </tbody>
    {% endfor %}
</table>
        
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const qualifSelect = document.getElementById('select_user_qualification');
        qualifSelect.addEventListener('change', function(e) {
            const formEl = qualifSelect.closest('form');
            fetch(formEl.action, {
                method: formEl.method,
                body: new FormData(formEl)
            })
            .then(response => response.text())
            .then(html => {
                const parser = new DOMParser();
                const doc = parser.parseFromString(html, 'text/html');
                const newPrenomFormFieldEl = doc.getElementById('select_user_prenom');
                newPrenomFormFieldEl.addEventListener('change', function(e) {
                    e.target.classList.remove('is-invalid');
                });
                document.getElementById('select_user_prenom').replaceWith(newPrenomFormFieldEl);
            })
            .catch(function (err) {
                console.warn('Oups, attention', err);
            });
        });
    });
</script>  