{{ form_start(FilterForm) }}
    <div class="d-grid gap-2 col-12 mx-auto">
        <div class="col-md-6 mx-auto">
            {{ form_row(FilterForm.searchBar) }}
        </div>
        <div class="row">
            <div class="col-md-3">
                {{ form_row(FilterForm.qualif) }}
            </div>
            {# <div class="col-md-3">
                {{ form_row(FilterForm.prenom) }}
            </div>
            <div class="col-md-3">
                {{ form_row(FilterForm.nom) }}
            </div> #}
            <div class="col-md-3">
                {{ form_row(FilterForm.team) }}
            </div>
            <div class="col-md-3">
                {{ form_row(FilterForm.enPoste) }}
            </div>
        </div>
        <input type="submit" class="btn btn-orange d-grid gap-2 col-6 mx-auto" value="Filtrer">
    </div>
{{ form_end(FilterForm) }}

{# Ré-initialiser #}
<div class="row mb-5">
<div class="btn btn-bleu d-grid gap-2 col-6 mx-auto"><a href="{{ path('app_users') }}">Ré-initialiser</a></div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Niveau</th>
            <th>Qualification</th>
            <th>Chez Insercall depuis le</th>
            <th>Jusqu'à</th>
        </tr>
    </thead>
    {% for user in users %}
    <tbody>
        <td><a href="{{ path('app_users_fiche', {'id': user.id}) }}">{{ user.nom }}</a></td>
        <td>{{ user.prenom }}</td>
        <td>{{ user.teamName.name }}</td>
        <td>{{ user.qualification.nomQualification }}</td>
        <td>{{ user.dateEntree|date('d-m-Y') }}</td>
        {# <td>{{ user.dateEntree|ago(locale='fr') }}</td> #}
        <td>{{ user.dateSortie|ago(locale='fr') }}</td>
    </tbody>
    {% endfor %}
</table>
        
